.logo {
    display: flex;
    max-width: 50%;
    padding: 5px 0;
    @mixin xl {
        padding: 5px 0 0;
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3px;
        img {
            width: 1.75rem;
            height: auto;
            @mixin lg   {
                width: 2.85rem;
            }
        }
        .custom-logo-link {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__text {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column;
        padding-left: 0.1rem;
        &-big {
            display: block;
            font-size: .7rem;
            color: var(--blue-light);
            font-weight: 700;
            @mixin lg  {
                font-size: 1.24rem;
                line-height: .9;
            }
        }
        &-small {
            display: block;
            font-size: .5rem;
            color: var(--black-blue);
            font-weight: 500;
            @mixin lg  {
                font-size: .79rem;
            }
        }
        a {
            text-decoration: none;
            color: var(--black-blue);
        }

    }
}
