.modal-additional {
    padding-top: 3.25rem;
    padding-bottom: 3rem;
    @mixin lg {
        padding-top: 7.25rem;
        padding-bottom: 7rem;
    }
    &__text {
        text-align: center;
        margin-bottom: 3rem;
        @mixi lg {
            margin-bottom: 0;
        }
        @mixin xl {
            padding: 0 12rem;
        }
    }
    &__title {
        color: var(--black);
        font-size: 1.97rem;
        margin-bottom: 1.25rem;
    }
    &__excerpt {
        line-height: 1.6;
        color: var(--violet-dark);
        font-weight: 600;
    }
    &__button-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal-active {
    overflow: hidden;
}

.modal-container {
    position:fixed;
    display:table;
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform:scale(0);
    z-index:1;
    &.one {
        transform:scaleY(.01) scaleX(0);
        animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal-background {
            .modal {
                transform:scale(0);
                animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
        }
        &.out {
            transform:scale(1);
            animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            .modal-background {
                .modal {
                    animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
            }
        }
    }
    .modal-background {
        display:table-cell;
        background:rgba(0,0,0,.8);
        text-align:center;
        vertical-align:middle;
        .modal {
            background:white;
            padding: 0.5rem;
            display:inline-block;
            border-radius:9px;
            font-weight:300;
            position:relative;
            max-width: 80%;
            iframe {
                width: 690px;
                aspect-ratio: 1.38/1;
                max-width: 100%;
            }
            &__close {
                position: absolute;
                top:-1.75rem;
                right: -1.75rem;
                width: 30px;
                height: 40px;
                color: #fff;
            }
        }
    }
}


@keyframes unfoldIn {
    0% {
        transform:scaleY(.005) scaleX(0);
    }
    50% {
        transform:scaleY(.005) scaleX(1);
    }
    100% {
        transform:scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform:scaleY(1) scaleX(1);
    }
    50% {
        transform:scaleY(.005) scaleX(1);
    }
    100% {
        transform:scaleY(.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}
@keyframes zoomOut {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(0);
    }
}

