.wp-admin {
  .second-section-picture {
    position: relative;
    .change-picture-order {
      position: absolute;
      top:0;
      font-size: 20px;
      text-decoration: none;
      background-color: #df1d1d;
      padding: 5px 10px;
      color: #FFFFFF;
    }
    &.L-order {
      .change-picture-order {
        right: 0;
        left: unset;
      }
    }
    &.R-order {
      .change-picture-order {
        right: unset;
        left: 0;
      }
    }


  }
}
