:root {
   --white-pure: #FFFFFF;
   --white-purple: #FAFBFC;
   --black:#101010;
   --black-blue: #10242B;
   --gray-blue: #546E7A;

   --blue-light: #109CF1;
   --green-light:#2ED47A;
   --blue-deep: #4B6CCC;

   --violet-white: #8B7F8D;
   --violet-dark: #605469;
   --violet-black: #081838;



   --test-menu-color: #f5fbfff7;
   --purple-shade-form-border: #DDD7DE;
}

