.footer {
    background-color: var(--violet-black);
    color: var(--white-pure);
    padding: 1rem 0 1.3rem;
    margin-top: auto;
    &__group{
        display: flex;
        flex-flow: column;
        margin-bottom: 0.4rem;
        @mixin md {
            flex-flow: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__about-area {
        width: 100%;
        padding-top: 1rem;
        text-align: center;
        @mixin md {
            width: 50%;
            text-align: left;
        }
        @mixin xl {
            width: 33%;
        }
        .footer-about-text {
            font-size: .685rem;
            line-height: 1.72;
            margin-top: 0.6rem;
            letter-spacing: .1px;
        }

        .logo {
            margin: auto;
            justify-content: center;
            @mixin md {
                justify-content: flex-start;
                margin: 0 auto 0 0;
            }
            &__text {
                @mixin lg {
                    margin-top: -5px;
                }
            }

            &__text-big {
                @mixin lg {
                    font-size: 1.23rem;
                }
            }

        }

        .logo__image {
            padding-left: 0;
            margin-left: -9px;
        }
        .logo__text-small {
            color: var(--white-pure);
        }
    }
    &__counter-area {

    }

    .under-footer {
        border-top: 1px solid #314160;
        padding-top: 1.1rem;
        &__group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @mixin md {
                justify-content: space-between;
            }

        }
        &__terms{
            width: max-content;
            margin: 1rem 0;
            @mixin md {
                margin:  0;
            }
        }
        &__copyright {
            width: max-content;
            font-size: .681rem;
        }
    }
    .under-footer-nav {
        &__list {
            list-style: none;
            display: flex;
            font-size: .67rem;

        }
        .menu-item {
            padding-right: 0.35rem;
            &:not(:first-child) {
                padding-left: .35rem;
            }
            &:not(:last-child) {
                position: relative;
                &:after {
                    content: ' ';
                    position: absolute;
                    top:3px;
                    bottom: 3px;
                    right: 0;
                    width: 2px;
                    background-color: var(--white-pure);
                }
            }
            a {
                color: var(--white-pure);
                text-decoration: none;
            }
        }

    }
}
