<p class="single-input-group">
    <label class="single-input-group__block">
         <span>
          [text* your-name class:single-input-group__input]
         </span>
        <span class="single-input-group__text">Your Name</span>
    </label>
</p>
<p class="single-input-group">
    <label class="single-input-group__block">
        <span>
            [text* phone class:single-input-group__input]
        </span>
        <span class="single-input-group__text">Phone</span>
    </label>
</p>
<p class="single-input-group">
    <label class="single-input-group__block">
        <span>
            [email* your-email class:single-input-group__input]
        </span>
        <span class="single-input-group__text">Email</span>
    </label>
</p>
<p class="single-input-group">
    <label class="single-input-group__block">
        <span>
           [textarea your-message class:single-input-group__textarea]
        </span>
        <span class="single-input-group__text">Additional Info</span>
    </label>
</p>
<p class="single-input-group submit-group">
    <button type="submit" class="wpcf7-form-control has-spinner wpcf7-submit single-input-group__submit theme-button button-big success"> <span>Request An Application</span> </button>
</p>
